@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
  font-size: 120%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

.Square{
  width:100px;
  height:100px;
  
}

.Board{
  width:100px;
  height:100px
}

#theBu0{
  position: fixed;
  top: 300px;
  right: 1100px;
}
#theBu1{
  position: fixed;
  top: 300px;
  right: 1000px;
}
#theBu2{
  position: fixed;
  top: 300px;
  right: 900px;
}
#theBu3{
  position: fixed;
  top: 400px;
  right: 1100px;
}
#theBu4{
  position: fixed;
  top: 400px;
  right: 1000px;
}
#theBu5{
  position: fixed;
  top: 400px;
  right: 900px;
}

#theBu6{
  position: fixed;
  top: 500px;
  right: 1100px;
}
#theBu7{
  position: fixed;
  top: 500px;
  right: 1000px;
}
#theBu8{
  position: fixed;
  top: 500px;
  right: 900px;
}

.AlonButton{
  width:100px;
  height:100px;
}

#getRekt{
  position: fixed;
  right: 950px;
  top:50PX;
}

.Back{
  width:100px;
  height:100px;
}

.forward{
  width:50px;
  height:50px;
  background-color: #333;
  position: fixed;
  right: 1000px;
  top:600PX;
}

.backwards{
  width:50px;
  height:50px;
  background-color: #333;
  position: fixed;
  right: 1050px;
  top:600PX;
}